     html,
    body {
      height: 100%;
    }

    .form-signin {
      max-width: 330px;
      padding: 1rem;
    }

    .form-signin .form-floating:focus-within {
      z-index: 2;
    }

    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

      .main-content-with-navbar {
        padding-top: 5rem;
        padding-bottom: 1rem;
      }

      @media (min-width: 992px) {
        .main-content-with-navbar {
          padding-top: 6rem;
        }
      }

      .main-content-no-navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
